*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    


}
.navbar{
   
    height: 75px;
    width: 100%;
 
    display: flex;
    gap:5px;
    background-color: lightcyan;
}

 
.menublock{
    flex-grow: 1;
}
ul{

width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

a{
    font-size:large;
   text-decoration: none;
   color: black;
}

.search-box{
    width: 250px;
}